@{
    Layout = "~/Views/Shared/_Main_Master.cshtml";
}

<div class="row">
    <div class="col-md-1"></div>
    <form class="form-horizontal" method="post" action="#" id="NewFlatForm"> <!--  -->
        <fieldset>
            <legend>Create New Flat</legend>
            <div class="form-group">
                <label class="col-md-2 control-label" for="FlatName">Flat No :</label>
                <div class="col-md-4">
                    <input id="flatName" name="flatName" type="text" placeholder="Enter Flat Name" class="form-control input-md" required>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="FlatArea">Flat Area :</label>
                <div class="col-md-4">
                    <input id="flatArea" name="flatArea" type="text" placeholder="Enter Flat Area" class="form-control input-md" required>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="Room">No of Rooms :</label>
                <div class="col-md-4">
                    <input id="flatRooms" name="flatRooms" type="number" placeholder="No of Rooms" class="form-control input-md" required>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="Bed">No of Bed :</label>
                <div class="col-md-4">
                    <input id="flatBed" name="flatBed" type="number" placeholder="No of Bed" class="form-control input-md" required>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="Bed">Price :</label>
                <div class="col-md-4">
                    <input id="txtprice" name="price" type="number" placeholder="Price" class="form-control input-md" required>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="Bed">Floor :</label>
                <div class="col-md-4">
                    <input id="txtFloor" name="advance" type="number" placeholder="Floor No" class="form-control input-md" required>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="Bed">Advance :</label>
                <div class="col-md-4">
                    <input id="txtAdvance" name="advance" type="number" placeholder="Advance" class="form-control input-md" required>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <input id="btnSave" type="submit" name="singlebutton" class="btn btn-primary" value="Save">
                    <input id="btnReset" type="reset" name="singlebutton" class="btn btn-primary" value="Reset">
                </div>
                <div class="col-md-6"><p id="errorMsg"></p></div>
            </div>
        </fieldset>
    </form>
</div>
